* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Palanquin', sans-serif;
}

:root {
  --dark-blue-gray: #4A4E69;
  --medium-blue-gray: #8E9AAF;
  --light-blue-gray: #EFF1FF;
  --pastel-purple: #CBC0D3;
  --pastel-pink: #FEEAFA;
  --white: #FFFFFF;
  --color-text: #23053A;

  font-size: 62.5%;
}

img {
  max-width: 100%;
  display: block;
}

body {
  background-color: var(--light-blue-gray);
  padding: 3.2rem 0 4.8rem;
}

body::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 28rem;
  background-color: var(--medium-blue-gray);
}

header {
  text-align: center;

  animation: topdown .3s .2s ease-in backwards;
}

header a {
  display: block;
  margin-bottom: 2rem;
}

header a img {
  max-width: 13.7rem;
  margin: 0 auto;
}

header h1 {
  font-family: 'Staatliches', cursive;
  font-size: 4rem;
  line-height: 5rem;
  letter-spacing: 0.05em;

  position: relative;
  color: var(--white);

  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

header h1::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: var(--pastel-purple);
}

main {
  margin-top: 6.8rem;
  padding: 0 3.5rem;
}

main p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: center;
  color: var(--color-text);
  max-width: 64rem;
  margin: 0 auto;

  margin-bottom: 3.6rem;

  animation: topdown .3s .2s ease-in backwards;
}

.cards-container {
  display: grid;
  gap: 3.2rem;
}

.cards-container div:nth-child(2) img,
.cards-container div:nth-child(4) img {
  height: 45rem;
}

.card {
  position: relative;

  animation: downtop .5s ease-in;
}

.card:hover {}

.card img {
  height: 25rem;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  margin: 0 auto;

  filter: brightness(0.65);

  transition: all .3s;
}

.card img:hover {
  filter: brightness(0.85);
  transform: scale(1.02);
}


.card h2 {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;

  font-family: 'Staatliches', cursive;
  font-size: 2rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  color: var(--dark-blue-gray);
  padding: 0 2.4rem;
  background-color: var(--pastel-pink);
  border-radius: 2rem;

  animation: topdown .3s .2s ease-in backwards;
}

/* RESPONSIVO */

@media (min-width: 700px) {

  .card img {
    height: 35rem;
  }

  .cards-container div:nth-child(2) img,
  .cards-container div:nth-child(4) img {
    height: 55rem;
  }
}

/* KEYFRAMES */

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}